Package: com.mattie.ipodapp
Name: Legacy iPod App
Version: 1.0
Architecture: iphoneos-arm
Description: Revive the pre iOS 5 iPod app on your homescreen! For cosmetic use only, as it will crash on launch
Maintainer: MT-96 <mattie.thurlow2@hotmail.co.uk>
Author: MT-96 <mattie.thurlow2@hotmail.co.uk>
Section: Addons


